@media screen and (min-width: 1024px) {
  body {
    background: url('../images/site/checkerboard.jpg');
  }

  #wrapper {
    background-color: white;
    border: var(--primary-color) 4px solid;
    margin: 30px 70px;
    border-radius: 10px;
  }
  /* nav menu */
  .nav-link {
    transition: all ease-in-out 0.3s;
  }
  .nav-link:hover {
    transform: scale(1.07);
    color: var(--primary-color);
  }

  .showcase {
    z-index: 0;
  }
  .showcase-top {
    margin-bottom: 200px;
    max-width: 1024px;
    margin: auto;
  }
  .showcase-top img {
    max-width: 700px;
    top: 0;
    right: 50px;
  }

  .car-info {
    padding: 60px;
  }

  /* bottom page */
  .bottom-page {
    display: flex;
    position: relative;
    z-index: 10;
    justify-content: space-around;

    max-width: 1024px;
    margin: 150px auto;
  }

  /* car details */
  .car-view {
    display: flex;
    flex-direction: row;
  }
  .car-img {
    text-align: center;
  }

  .car-img img {
    width: 425px;
  }
  .car-details > * {
    margin: 10px;
    padding: 15px;
  }
  .car-details > p:nth-of-type(even) {
    background-color: #d6d6d6;
  }
  .car-details > p:nth-child(1) {
    font-size: 1.5rem;
    font-weight: bolder;
  }

  .car-details p {
    font-size: 1.2rem;
  }
  .car-details span {
    font-size: 1.5rem;
    font-weight: bolder;
  }

  /* classification view */

  #inv-display {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  #inv-display li {
    text-align: center;
    border: #ccc 1px solid;
    margin: 10px;
    width: 375px;
  }

  .namePrice h2 {
    color: #00d5ff;
    margin: 20px;
  }
  .namePrice hr {
    border-top: var(--dark-color) 5px solid;
  }
  .namePrice span {
    color: var(--dark-color);
    font-size: 1.2rem;
    font-weight: bolder;
  }

  /* Loggedin view */
  .loggedin-options {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    flex-direction: row;
  }
  .link {
    width: 220px;
  }
  /* edit Account view */
  .edit-account-wrapper {
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
  }
}
