/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #00d5ff;
  --dark-color: #252535;
  --light-color: #fff;
}
body {
  font-family: 'Roboto', sans-serif;
}
/* Headder */
#top-header {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}
.siteName {
  font-size: 2.5rem;
  color: var(--dark-color);
}
.homelink,
.homelink:visited {
  text-decoration: none;
  color: var(--dark-color);
}
#tools {
  align-self: center;
}
.accountLink a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--dark-color);
}
/* Navigation */
nav {
  background-color: var(--dark-color);
  margin: 10px;
}
nav > ul > li > a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: all ease-in-out 0.3s;
}
nav > ul > li > a:hover {
  color: #00d5ff;
  transform: scale(1.1);
}
ul {
  display: flex;
  padding: 10px;
  justify-content: space-around;
}
li {
  list-style-type: none;
  color: var(--light-color);
}
/* Showcase main section */
.showcase {
  padding: 20px;
}
.showcase h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
}
.showcase-top {
  color: var(--primary-color);
  position: relative;
  margin-bottom: 140px;
}
.showcase-top img {
  position: absolute;

  width: 100%;
  top: 0;
}
.car-info {
  background-color: rgba(255, 255, 255, 0.512);
  position: relative;
  z-index: 10;
  width: 40%;
}
/* Showcase Bottom */
.showcase-bottom {
  margin-bottom: 40px;
}
.showcase-bottom p {
  padding: 5px;
}
/* Upgrades & cards */
.img-upgrades {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: repeat(2, 1fr); */
  text-align: center;
  grid-gap: 20px;
}
.img-card {
  border: var(--dark-color) 3px solid;
  background-color: var(--primary-color);
}
.img-card-top {
  background-color: var(--light-color);
  min-height: 120px;
}
.img-card-top img {
  padding: 15px;
}
.img-card-bot {
  border-top: var(--dark-color) 3px solid;
}
.img-card-bot p {
  padding: 5px;
}
.img-card-bot a {
  color: var(--dark-color);
  font-weight: bold;
}

/* Buttons */
.btn {
  font-weight: bold;
  color: var(--dark-color);
  background-color: var(--primary-color);
  display: inline-block;
  padding: 8px;
  box-shadow: 1px 5px 5px var(--dark-color);
}

/* footer  */

footer {
  padding: 20px;
}

/* car details */
.titlecar {
  padding: 10px;
}
.car-view {
  padding: 10px;
}
.car-img {
  text-align: center;
}

.car-img img {
  width: 100%;
}
.car-details > * {
  margin: 10px;
  padding: 15px;
}
.car-details > p:nth-of-type(even) {
  background-color: #d6d6d6;
}
.car-details > p:nth-child(1) {
  font-size: 1.5rem;
  font-weight: bolder;
}

.car-details p {
  font-size: 1.2rem;
}
.car-details span {
  font-size: 1.5rem;
  font-weight: bolder;
}
/* Message in each page */
.notice {
  font-weight: bold;
  color: red;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  margin: 10px;
}
.notice li {
  font-weight: bold;
  color: red;
}
/* classification view */

#inv-display {
  display: flex;
  flex-direction: column;
}
#inv-display li {
  text-align: center;
  border: #ccc 1px solid;
  border-radius: 10px;
  margin: 10px;
}
#inv-display img {
  width: 100%;
}

.namePrice h2 {
  color: #00d5ff;
  margin: 20px;
}
.namePrice hr {
  border-top: var(--dark-color) 5px solid;
}
.namePrice span {
  color: var(--dark-color);
  font-size: 1.2rem;
  font-weight: bolder;
}

/* Form login */
.form-title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 40px 0 20px 0;
}

.login-form {
  background-color: #e6f4f1;
  max-width: 400px;
  margin: 20px auto;
  border: var(--dark-color) 3px solid;
  border-radius: 10px;
  box-shadow: 5px 8px 10px #ccc;
}
.sign-up {
  text-align: center;
  margin: 20px;
}
.sign-up p {
  font-weight: bold;
}
.sign-up a {
  color: var(--dark-color);
}
.form-input {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
}
.form-input label {
  font-size: large;
  text-transform: uppercase;
  font-weight: bold;
}
.form-input:nth-child(1) {
  padding-top: 40px;
}
.form-input input {
  padding: 10px;
  border-radius: 10px;
  outline: none;
  margin-top: 10px;
}
.form-submit {
  text-align: center;
}
.form-submit input {
  padding: 6px 25px;
  border-radius: 25px;
  text-transform: uppercase;
  background-color: #fff;
  color: var(--dark-color);

  transition: all ease-in-out 0.3s;
}
.form-submit input:hover {
  color: #fff;
  background-color: #00d5ff;
  font-weight: bold;
}
/* register form */
.reg {
  padding-bottom: 40px;
}

/* manager ADMIN */

.admin {
  display: flex;
  flex-direction: column;
  padding: 20px 0 0 55px;
}
.admin h2 {
  margin-bottom: 5px;
}

/* Add Classification */
.add-new-form_container {
  background-color: #00d5ff;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 8px 10px #ccc;
}
.add-new-form_container img {
  width: 20px;
}
.classification-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-transform: uppercase;
}
/* styling forms */
input[type='text']:valid:focus,
input[type='email']:valid:focus,
input[type='password']:valid:focus {
  border-color: green;
  border-radius: 10px;
  background-color: rgba(57, 184, 57, 0.372);
}
input[type='text']:invalid:focus,
input[type='email']:invalid:focus,
input[type='password']:invalid:focus {
  border-color: red;
  border-radius: 10px;
  background-color: rgba(247, 93, 93, 0.321);
}

.classification-form span {
  font-size: larger;
  font-weight: bold;
}
.classification-form > * {
  margin-bottom: 18px;
}
.classification-form button {
  background-color: #00d5ff;
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 10px;
}
.go-back {
  font-size: larger;
  font-weight: bolder;
  display: flex;
  justify-content: flex-end;
  margin: 50px;
}
.go-back a {
  text-decoration: none;
  color: #252535;
  background-color: #00d5ff;
  padding: 6px 15px;
  border-radius: 10px;
  box-shadow: 5px 8px 10px #ccc;
}

.class_form-input {
  display: flex;
  flex-direction: column;
}
.class_form-input input,
.class_form-input textarea {
  outline: none;
  padding: 5px;
}

.not-found {
  width: 400px;
  margin: 0 auto;
}
.not-found img {
  width: 100%;
}

/* Logged in view */

.loggedin-wrapper {
  text-align: center;
  border: #00d5ff 15px solid;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 8px 10px #ccc;
  margin: 20px 60px;
}
.loggedin-text {
  margin: 40px;
}
.loggedin-text p {
  background-color: #88f9bb;
  border: 3px solid #4dbf85;
  border-radius: 20px;
  padding: 10px;
  width: 150px;
  display: inline-block;
  margin: -10px 0 20px 0;
}
.loggedin-text h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.loggedin-options {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  flex-direction: column;
}

.link {
  background-color: #00d5ff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 8px 10px #ccc;
  margin: 20px 0;
  transition: all ease-in-out 0.3s;
  color: #252535;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}
.link p {
  margin: 10px;
}

.link i {
  background-color: #fff;
  border: #fff 4px solid;
  border-radius: 50%;
  padding: 10px;
}
.link:hover {
  background-color: #26b9ff;
  transform: translate(0, -10px);
}
/* edit account view */

.editform {
  text-align: start;
  border: #00d5ff 15px solid;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 8px 10px #ccc;
  margin: 20px 60px;
}
/* Vehicle management  */
.admin {
  border: #00d5ff 15px solid;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 8px 10px #ccc;
  margin: 20px 60px;
}
.manage-options {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  flex-direction: column;
  text-align: center;
}
.manage-vehicle {
  width: 375px;
  margin: 0 auto;
}
.manage-vehicle h2 {
  text-align: center;
  margin: 20px;
}
#className {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 1.2rem;
}
#inventoryDisplay td,
#inventoryDisplay th,
#inventoryDisplay {
  padding: 10px;
  font-size: 1.2rem;
}
#inventoryDisplay td,
#inventoryDisplay th {
  border-top: 4px solid var(--primary-color);
  border-bottom: 4px solid var(--primary-color);
}
#inventoryDisplay {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  border: 4px solid var(--primary-color);
}
#inventoryDisplay a {
  text-decoration: none;
  color: #252535;
}
