<% if (title) { %>
<h1 class="form-title"><%= title %></h1>
<% } else { res.redirect('/'); } %>

<!-- Display message in case of error -->
<% if (typeof errors !== 'undefined') { %>
<ul class="notice">
  <% errors.array().forEach(error => { %>
  <li><%= error.msg %></li>
  <% }) %>
</ul>
<% } %><% if (message) { %>
<p class="notice"><%= message %></p>
<% } %>

<div class="add-new-form_container">
  <form
    class="classification-form"
    action="/inv/add-classification"
    method="post"
  >
    <h2>Classification Name</h2>
    <p>
      Name may <span>NOT</span> contain a space or special character of any
      kind.
    </p>

    <div class="class_form-input">
      <input
        title="Enter your Class Name"
        name="classification_name"
        id="classificationName"
        type="text"
        pattern="[a-zA-Z]+"
        required
      />
    </div>
    <p>Field is required*</p>
    <button type="submit" value="Add Classification">Add Classification</button>
  </form>
</div>
<div class="go-back"><a href="/inv/"><--</a></div>
