<div class="titlecar">
  <% if (title) { %>
  <h1><%= title %></h1>
  <% } else { res.redirect('/'); } %>
</div>
<!-- Display message in case of error -->
<% if (message) { %>
<p class="notice"><%= message %></p>
<% } %>
<div class="admin">
  <div class="manage-options">
    <a href="add-classification" class="link">
      <!-- <i class="fa-solid fa-file-circle-plus fa-2x"></i> -->
      <p>Add New Classification</p>
    </a>
    <a href="add-vehicle" class="link">
      <!-- <i class="fa-solid fa-car fa-2x"></i> -->
      <p>Add New Vehicle</p>
    </a>
  </div>
  <div class="manage-vehicle">
    <h2>Manage Vehicles</h2>

    <div class="manage-view-select"><%- classificationSelect %></div>
    <table id="inventoryDisplay"></table>
    <noscript>JavaScript must be enabled to use this page.</noscript>
  </div>
</div>
<script src="../../js/inventory.js"></script>
