<% if (title) { %>
<h1 class="form-title"><%= title %></h1>
<% } else { res.redirect('/') } %>

<!-- Display message in case of error -->
<% if (message) { %>
<p class="notice"><%= message %></p>
<% } %>

<form class="login-form" id="loginForm" action="/client/login" method="post">
  <div class="form-input">
    <label for="username">Email:</label>
    <input
      type="email"
      name="client_email"
      id="username"
      placeholder="email"
      required
      value="<%= locals.client_email %>"
    />
  </div>
  <div class="form-input">
    <label for="password">Password:</label>
    <input
      type="password"
      name="client_password"
      id="password"
      placeholder="Password"
      required
      pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
      .
    />
  </div>
  <div class="form-submit">
    <input type="submit" value="Login" />
  </div>
  <div class="sign-up">
    <p>No account? <a href="register">Sign-up</a></p>
  </div>
</form>
